body {
  margin: 0;
  font-family: Arial;
  color: white;
  text-align: center;
  background: linear-gradient(-45deg, #0f172a, #1e293b, #0ea5e9, #1e293b);
  background-size: 400% 400%;
  animation: bg 10s ease infinite;
}

/* animasi background */
@keyframes bg {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

.container {
  padding: 60px 20px;
}

.title {
  font-size: 40px;
  text-shadow: 0 0 10px #0ea5e9;
}

.subtitle {
  color: #cbd5e1;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  background: #22c55e;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  margin-bottom: 15px;
}

.btn:hover {
  transform: scale(1.05);
}

.music-btn {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f59e0b;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  margin-top: 30px;
}

.card {
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.1);
  padding: 20px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  background: rgba(255,255,255,0.1);
}